h3 {
  color: #a0e0f2
}

.App {
  text-align: center;
}

/* general background and text styling, also transitions */
.main-style {
  background-color: #414141;
  color: white ;
  font-family: 'Roboto'; 
}

.fade-in {
  animation: fadeIn 5s;
}

.fade-in-from-right {
  animation: fadeInRight 3s;
}

.introduction-paragraph {
  font-size: 120%;
}

ul {
  list-style: none;
}

.search-information-text {
  color: #a0e0f2;
}

.card-style {
  background-color: #2b2b2b !important;
  color: white !important;
  transition: all .2s ease-in-out ; 
}
  
.card-style:hover { 
  transform: scale(1.1); 
}

.card-footer-formatting {
  text-align: left;
  vertical-align: middle;
}

/* dropdown z-indexs */
.dropdown {
  z-index: 1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }  
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

 li:hover {
  cursor: pointer;
  background-color: #a0e0f2;
 }

 button {
  background-color: #2b2b2b;
  color: #a0e0f2;
 }